.button {
    background-color: green;
    color: white;
}

.background-color {
    background-color: red;
}

.mat-input {
    width: 100%;
}

mat-select {
    width: 100%;
}

.buttons {
    float: right;
}

mat-form-field {
    width: 100%;
}